AggregateService/bin
AggregateService/obj
AggregateService/logs
MemberService/bin
MemberService/obj
MemberService/logs
TeamService/bin
TeamService/obj
TeamService/logs
MicrosoftServiceCore/bin
MicrosoftServiceCore/logs
MicrosoftServiceCore/obj
.vs
