AggregateService/bin
AggregateService/obj
AggregateService/logs
MemberService/bin
MemberService/obj
MemberService/logs
TeamService/bin
TeamService/obj
TeamService/logs
MicroServiceCore/bin
MicroServiceCore/logs
MicroServiceCore/obj
MicroServiceGateway/bin
MicroServiceGateway/obj
.vs
